@model WPS.WPSService.SRCC_SalesAccount_ST
@{
    ViewBag.Title = "SaleAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <a href="#"><i class="fas fa-home"></i></a> / <a onclick="goBack('');"><i class="fas fa-user-circle"></i></a> / Agent(s) / Sub Agent(s)
                </div>
                <form class="form-horizontal" role="form" id="frmSaleAccount">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-left title-2">Agent(s) / Sub Agent(s)</h3>
                        </div>
                        <hr>
                        <div class="box-content alerts">
                            <div class="alert alert-danger" id="diverrorMessage" style="display:none;">
                                <button type="button" class="close" onclick="closeDiv();">×</button>
                                <label id="lblerrorMessage" style="float:left !important"></label>
                            </div>
                            <div class="alert alert-success" id="divMessage" style="display:none;">
                                <button type="button" class="close" onclick="closeDiv();">×</button>
                                <label id="lblMessage" style="float:left !important"></label>
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.SaleAccId)
                        @Html.HiddenFor(model => model.AccountCode)
                        @*<div class="row form-group">
                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Agent / Sub Agent Code</label>
                            </div>
                            <div class="col-4">
                                @Html.TextBoxFor(model => model.AccountCode, new { id = "tbx_AccountCode", @class = "form-control", style = "width:95%", @maxlength = "10", placeholder = "Agent / Sub Agent Code" })

                            </div>

                        </div>*@
                        <div class="row form-group">
                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Type</label>
                            </div>
                            <div class="col-4">
                                @Html.DropDownList("AccountType", null, "Select Type",
                                new { @class = "form-control", style = "width: 95%; float:left !important;", required = "required", maxlength = "50", onchange="ShowParent($(this).val());" })

                            </div>
                            
                            <div class="col-2" id="divlblParent">
                                <label for="cc-payment" class="control-label">Parent Agent</label>
                            </div>
                            <div class="col-4" id="divParent">
                                @Html.DropDownList("ParentSaleId", null, "--- Select Parent Agent ---",
                                new { @class = "form-control", style = "width: 95%", maxlength = "50" })

                            </div>


                        </div>

                        <div class="row form-group">
                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Agent / Sub Agent </label>
                            </div>
                            <div class="col-4">

                                @Html.TextBoxFor(model => model.SaleAccount, new { id = "tbx_SaleAccount", @class = "form-control", style = "width:95%", placeholder = "Agent / Sub Agent" })

                            </div>
                            
                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Address</label>
                            </div>
                            <div class="col-4">
                                @Html.TextBoxFor(model => model.Address, new { id = "tbx_Address", @class = "form-control", style = "width:95%", placeholder = "Address" })

                            </div>


                        </div>

                        <div class="row form-group">

                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Phone No.</label>
                            </div>
                            <div class="col-4">
                                @Html.TextBoxFor(model => model.Phone, new { id = "tbx_Phone", @class = "form-control", style = "width:95%", placeholder = "Phone No" })


                            </div>
                            <div class="col-2">
                                <label for="cc-payment" class="control-label">Mobile No </label>
                            </div>
                            <div class="col-4">
                                @Html.TextBoxFor(model => model.Mobile, new { id = "tbx_Mobile", @class = "form-control", style = "width:95%", placeholder = "Mobile No" })
                            </div>


                        </div>


                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        @*<button type="reset" class="btn btn-primary btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>*@
                        <button type="button" class="btn btn-primary btn-sm" onclick="goBack('');">
                            <i class="fa fa-dot-circle-o"></i> Back
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/vendor/jquery.validate.min.js"></script>
<script type="text/javascript">
    $('#frmSaleAccount').validate({
        submitHandler: function (form) {
            $.ajax({
                url: '@Url.Action("SaleAccount", "SaleAccount", new { q = Request.QueryString["q"].ToString() })',
                type: "POST",
                data: $(form).serialize(),
                success: function (response) {
                    if (response.success === true) {
                        goBack(response.response);
                    }
                    else {
                        $('#lblMessage').text(response.response);
                        $('#divMessage').show();
                    }
                }
            });
        }
    });

    function goBack(message) {
        window.location = '/SaleAccount/SaleAccountIndex?q=@Request.QueryString["q"].ToString()&message=' + message;
    }

    function ShowParent(type) {
        if (type == 'A') {
            $('#divParent').hide();
            $('#divlblParent').hide();
        } else if (type == 'S') {
            $('#divParent').show();
            $('#divlblParent').show();
        }
    }
    $(document).ready(function () {
        $('#divParent').hide();
        $('#divlblParent').hide();
    });
</script>