@model WPS.WPSService.ReviewCollection
@{
    ViewBag.Title = "UpdateReviewAccountSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <a href="#"><i class="fas fa-home"></i></a> / <a onclick="goBack('');"><i class="fas fa-user-circle"></i></a> / Review Account Site
                </div>
                <form class="form-horizontal" role="form" id="frmReviewActSite">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-left title-2">Review Account Site</h3>
                        </div>
                        <hr>
                        <div class="box-content alerts">
                            <div class="alert alert-danger" id="diverrorMessage" style="display:none;">
                                <button type="button" class="close" onclick="closeDiv();">×</button>
                                <label id="lblerrorMessage" style="float:left !important"></label>
                            </div>
                            <div class="alert alert-success" id="divMessage" style="display:none;">
                                <button type="button" class="close" onclick="closeDiv();">×</button>
                                <label id="lblMessage" style="float:left !important"></label>
                            </div>
                        </div>

                        @if (Model.Reviewsites != null)
                        {
                            foreach (var item in Model.Reviewsites.ToList())
                            {
                                var query = Request.QueryString["Code"].ToString();
                                var respActSite = Model.ReviewActsites.Where(x => x.AccountID.ToString() == query && x.ReviewSiteID == item.SiteID).FirstOrDefault();
                                var respIActive = Model.ReviewActsites.Where(x => x.ReviewSiteID == item.SiteID).FirstOrDefault();
                                var idUrl = "#tbx_Url" + item.SiteID;
                                var idAct = "#chkActive" + item.SiteID;

                                <div class="row form-group">
                                    <div class="col-1"></div>
                                    <div class="col-1">
                                        @item.SiteName
                                    </div>
                                    <div class="col-7">
                                        @if (respActSite != null)
                                        {
                                            string val = respActSite.ReviewURL;
                                            @Html.TextBox("tbx_Url" + item.SiteID, val, new { id = "tbx_Url" + item.SiteID, @class = "form-control", style = "width:95%", placeholder = "Review URL" })
                                        }
                                        else
                                        {
                                            @Html.TextBox("tbx_Url" + item.SiteID, null, new { id = "tbx_Url" + item.SiteID, @class = "form-control", style = "width:95%", placeholder = "Review URL" })
                                        }
                                    </div>
                                    <div class="col-1">
                                        @if (respIActive != null)
                                        {
                                            if (respActSite.IsActive == true)
                                            {
                                                @Html.CheckBox("IsActive", new { id = "chkActive" + item.SiteID, @checked = "checked" })
                                            }
                                            else
                                            {
                                                @Html.CheckBox("IsActive", new { id = "chkActive" + item.SiteID })
                                            }
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsActive", new { id = "chkActive" + item.SiteID })
                                        }
                                    </div>
                                    <div class="col-1">
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Add" onclick="fancyitRvAddSite('@query', '@item.SiteID',$('@idUrl').val(), $('@idAct').prop('checked'))">
                                                @*<i class="zmdi zmdi-file-add glyphicon glyphicon-plus"></i>*@
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="fancyitRvDeleteSite('@query', '@item.SiteID', $('@idUrl').val(), $('@idAct').prop('checked'))">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                </div>

                            }

                        }


                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm" onclick="goBack('');">
                                <i class="fa fa-dot-circle-o"></i> Back
                            </button>
                        </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">


    function fancyitRvAddSite(accounts, sites, url, active) {
        //console.log(accounts + '-' + sites + '-' + url + '-' + active)
        $.ajax({
            url: '@Url.Action("UpdateReviewAccountSite", "ReviewAccountSite", new { q = Request.QueryString["q"].ToString()})',
            type: 'Post',
            data: { "accountID": accounts, "reviewSiteID": sites, "reviewURL": url, "isActive": active },
            success: function (response) {
                alert(response.success);
                if (response.success === true) {
                    alert('yes');
                    goBack(response.response);
                }
                else if (response.success === false) {
                    $('#lblerrorMessage').html(response.response);
                    $('#diverrorMessage').show();
                }
            },
            error: function (ex) {
                console.log(ex);
                alert('no');
            }
        });
    }

    function fancyitRvDeleteSite(accounts, sites, url, active) {
        console.log(accounts + '-' + sites + '-' + url + '-' + active)
        alert('yes');
        $.ajax({
            url: '@Url.Action("DeleteReviewAccountSite", "ReviewAccountSite", new { q = Request.QueryString["q"].ToString()})',
            type: 'post',
            data: { "accountID": accounts, "reviewSiteID": sites, "reviewURL": url, "isActive": active },
            success: function (response) {
                if (response.success === true) {
                    goBack(response.response);
                }
                else {
                    $('#lblMessage').text(response.response);
                    $('#divMessage').show();
                }
            },
            error: function (ex) {
                console.log(ex);
                alert('no');
            }
        });
    }

    function goBack(message) {
        var iUrl = '@Url.Action("CompanyAccountsIndex", "CompanyAccounts", new { q = Request.QueryString["q"].ToString()})&message=' + message + '';
        window.location = iUrl;
    }
</script>

